# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
.env
.env.local

# Output directory
dist/
.vercel

# wwebjs
.wwjs
.wwebjs_cache

# client folder
client/

# lock fle
package-lock.json
yarn.lock